body {
    background: rgba(6, 41, 61, 1);
  }

header .logo{
 
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    
}

main .tiendas {
    margin-top: 70px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

main .productos {
    margin-top: 70px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

main .achoclonados {
    margin-top: 70px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

main .paradiso {
    margin-top: 70px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

main .tiapechy {
    margin-top: 70px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

main .kiosko {
    margin-top: 70px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

main .tiendas h2 {
    padding: 2px;
    color: rgba(231, 220, 59, 0.801);
    font-family: 'Nunito', sans-serif;
    margin-left: 35px;
    margin-top: 50px;
}
main .salir {
    margin-top: 70px;
    margin-left: 1px;
    display: flex;
    justify-content: center;
}

main .salir h2 {
    padding: 2px;
    color: rgba(231, 220, 59, 0.801);
    font-family: 'Nunito', sans-serif;
    margin-left: 35px;
    margin-top: 50px;
}

main .productos h2 {
    padding: 2px;
    color: rgba(231, 220, 59, 0.801);
    font-family: 'Nunito', sans-serif;
    margin-left: 35px;
    margin-top: 30px;
}

.ProductosContainer {
    width: 100%;

}

.ProductoContainer {
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    border: 2px rgb(255, 255, 255) dotted;
    background-color: rgba(11, 4, 27, 0.671);
    text-align: center;
    color: white;
}

.ProductoContainer img {
    border-radius: 10px;
}

.ProductosContainer {
    width: 100%;

}
main .ubicacion {
    margin-top: 50px;
    color: white;
    text-align: center;
}
main h1{
    margin-top: 120px;
    color: white;
    text-align: center;
}

main .pago a{
    color: #fff;
    font-family: 'Nunito', sans-serif;
    margin-top: 100px;
}
main .pago{
    margin-top: 50px;
    text-align: center;
}

main .radiobutton{
    margin-top: 100px;
    color: white;
    text-align: center;
}
.ProductosContainer {
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    border: 2px rgb(255, 255, 255) dotted;
    background-color: rgba(11, 4, 27, 0.671);
    text-align: center;
    color: white;
}

.ProductosContainer img {
    border-radius: 10px;
}

header{
    background-color:rgb(175, 175, 175);
}
  .container {
    width: 100%;
    height: 100%;
  }
  
  .form-container {
    display: block;
    margin: 100px auto 0 auto;
    width: 400px;
    perspective: 1000;
  }
  
  .login-form {
    background: rgba(0, 90, 120, 0.7);
    border: 4px solid rgba(0, 90, 120, 0.9);
    border-radius: 8px;
  }
  
  .title {
    background: rgba(0, 90, 120, 0.9);
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    font-size: 2em;
    padding: 10px 10px 10px 20px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  .form-input {
    padding: 5px;
    min-width: 50%;
    height: 20px;
    border-radius: 4px;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
  }
  
  textarea:focus, input:focus, button:focus {
      outline: 0;
  }
  
  .tooltip {
    width: 35%;
    background: rgb(144, 163, 33);
    font-size: 0.8em;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    margin-left: 10px;
    padding: 7px;
    border-radius: 5px;
  }
  
  .form-group {
    padding: 10px 10px 10px 20px;
  }
  
  .form-group a {
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
}

 .form-group a:hover{
    box-shadow: inset 0 40px 0 0 rgb(144, 163, 33);
 }
  
  
  .remember-checkbox {
    display: inline;
    position: relative;
    margin-left: 30px;
  }
  
  .remember-p {
    display: inline;
    position: relative;
    margin-left: 5px;
      color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
  }
  
  .loading {
      background: rgba(0, 90, 120, 0.7);
    border: 4px solid rgba(0, 90, 120, 0.9);
    border-radius: 8px;
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
  
  .login-form,
  .loading {
    position: absolute;
    width: 400px;
    height: 240px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: -webkit-transform 2s;
            transition: transform 2s;
  }
  
  .loading-spinner-large {
    margin-left: 130px;
    margin-top: 55px;
    font-size: 10px;
    position: fixed;
    text-align: center;
    display: none;
    border-top: 10px solid rgba(255, 255, 255, 0.2);
    border-right: 10px solid rgba(255, 255, 255, 0.2);
    border-bottom: 10px solid rgba(255, 255, 255, 0.2);
    border-left: 10px solid rgba(20, 196, 148, 1);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: spin-clockwise 1.1s infinite linear;
    animation: spin-clockwise 1.1s infinite linear;
  }
  .loading-spinner-small {
    margin-left: 160px;
    margin-top: 85px;
    font-size: 10px;
    position: fixed;
    text-align: center;
    display: none;
    border-top: 10px solid rgba(255, 255, 255, 0.2);
    border-right: 10px solid rgba(255, 255, 255, 0.2);
    border-bottom: 10px solid rgba(255, 255, 255, 0.2);
    border-left: 10px solid rgba(20, 196, 148, 1);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: spin-counter-clockwise 1.1s infinite linear;
    animation: spin-counter-clockwise 1.1s infinite linear;
  }
  
  .loading-spinner-large,
  .loading-spinner-large:after {
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }
  
  .loading-spinner-small,
  .loading-spinner-small:after {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  @-webkit-keyframes spin-clockwise {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spin-clockwise {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes spin-counter-clockwise {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  @keyframes spin-counter-clockwise {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }